<div id="header">
  <div class="wrap">
    <div id="title-area">
      <h1 id="title"><a href="https://www.itsite.com/">IProject</a></h1>
    </div>
    <div class="clear"></div>
  </div>
</div>
<div id="nav">
  <div class="wrap">
    <ul class="menu genesis-nav-menu menu-primary">
      <li class="menu-item menu-item-type-post_type menu-item-object-page">
        <%= link_to 'Blog', posts_path %>
      </li>
      <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/">Podcast</a></li>
      <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/">Books</a></li>
      <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/">Films</a></li>
      <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/">Events</a></li>
      <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/">Resources</a></li>
      <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children">
        <a href="/">About</a>
        <ul class="sub-menu">
          <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="/">The Minimalists</a></li>
          <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/">Bio, Photos, &amp; Praise</a></li>
          <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/">What’s Minimalism?</a></li>
          <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/">Our 21-Day Journey</a></li>
          <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/">Interviews</a></li>
          <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/">Hire to Speak</a></li>
          <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/">Writing Class</a></li>
          <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/">Contact</a></li>
        </ul>
      </li>
      <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
        <% if user_signed_in? %>
          <%= link_to 'Sign out', destroy_user_session_path, method: 'delete' %>
          <ul class="sub-menu">
            <li class="menu-item menu-item-type-post_type menu-item-object-page">
              <div class="d-flex">
                <div class="mr-2 ml-2" style="margin-top: 12px;">
                  <%= image_tag current_user.image, alt: "Avatar", title: current_user.full_name, class: "avatar avatar--md" %>
                </div>
                <div class="w-100 user-name">
                  <%= current_user.full_name %>
                </div>
              </div>
            </li>
          </ul>
        <% else %>
          <%= link_to 'Sign in', new_user_session_path %>
          <ul class="sub-menu">
            <li class="menu-item menu-item-type-post_type menu-item-object-page">
              <%= link_to "Via #{OmniAuth::Utils.camelize(:google_oauth2)}", omniauth_authorize_path(:user, :google_oauth2), method: :post %>
            </li>
          </ul>
        <% end %>
      </li>
    </ul>
  </div>
</div>
