<!DOCTYPE html>
<html>
  <head>
    <title>Iproject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
  </head>

  <body class="home blog custom-header header-image header-full-width full-width-content cookies-not-set">
    <div id="wrap">
      <%= render "layouts/header" %>
      <div id="inner">
        <div id="content-sidebar-wrap">
          <div id="content" class="hfeed">
            <%= render "layouts/about" %>
            <%= render "layouts/subscriber" %>
            <%= yield %>
          </div>
        </div>
      </div>
      <%= render "layouts/footer" %>
    </div>
  </body>
</html>
